@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap");

/*Creación de variables*/

/*Colores*/
:root {
  --hfbl-color: #b44173;
  --body-color: #ebdbf9;
  --cards-color: #e0c7f6;
  --letter-transition: #1f1f1f;

  --letter-dark-color: #1f1f1f;
  --letter-light-color: #ffffff;

  /*Tipografía*/

  --font-base: "Open Sans", sans-serif;
  --font-alternativa: Oleo Script Swash Caps, sans-serif;

  /*Tamaños de fuentes*/

  --font-large: 2.5em; /*40px*/
  --font-xlarge: 2em; /*32px*/
  --font-medium: 1.5em; /*24px*/
  --font-small: 1.25em; /*20px*/
  --font-xsmall: 1em; /*16px*/
  --font-xxsmall: 0.87em; /*14px*/
  --font-xxxsmall: 0.62em; /*10px*/

  /*Espaciados*/

  --spacing-60: 3.75em; /*60px*/
  --spacing-40: 2.5em; /*40px*/
  --spacing-32: 2em; /*32px*/
  --spacing-24: 1.5em; /*24px*/
  --spacing-20: 1.25; /*20px*/
  --spacing-16: 1em; /*16px*/
  --spacing-12: 0.75em; /*12px*/
  --spacing-8: 0.5em; /*8px*/
}

/*Fin de Variables*/
/*--------------------------------------------------------------------------------------------------*/

/*Normalización*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--body-color);
  font-family: var(--font-base);
}

a {
  text-decoration: none;
  color: inherit;
}

header,
footer {
  color: var(--letter-light-color);
  background-color: var(--hfbl-color);
}

img {
  max-width: 100%;
}

ul,
ol {
  list-style-type: none;
}

img {
  max-width: 100%;
}

/*Fin Normalización*/

/*////////////////////////////////////////////HOME///////////////////////////////////////////////*/

/*------------------------------------HEADER---------------------------------------------------------------*/
.bodyIndex {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "main aside aside"
    "footer footer footer";
  gap: 0.5em;
}

header {
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 1.5em 1.5em;
  grid-area: header;
}
.logo {
  display: flex;
  padding-left: 0.5em;
  /* display: inline-block; */
}
.img-logo {
  width: 10em;
}

.heaSlogan {
  font-family: var(--font-alternativa);
  font-size: var(--spacing-24);
  align-content: flex-end;
  padding-bottom: 0.8em;
  text-shadow: 9px 6px 3px rgb(28, 27, 27);
}

.headMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 0.5em; */
  margin: 0.5em 0 0.3em 0;
}

.list-menu {
  display: flex;
  justify-content: end;
  gap: 1em;
  padding: 0 0.5em;
  font-size: var(--font-xsmall);
  font-weight: 500;
  margin-bottom: 0.5em;
  margin-right: 1em;

}

.heaLink-menu {
  padding: 0.5em;
  transition: background 0.3s ease-in-out;
  position: relative;
  text-transform: uppercase;
  border-radius: 0.5em;
}
.heaLink-menu:hover {
  background-color: var(--cards-color);
  color: var(--letter-transition);
}

.list-sesion {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: var(--font-small);
  padding-right: 1em;
}

.heaLink-sesion {
  padding: 0 0.3em;
  transition: background 0.3s ease-in-out;
  position: relative;
  border-radius: 0.3em;
}
.heaLink-sesion:hover {
  background-color: var(--cards-color);
  color: var(--letter-transition);
}

/*----------------------------------NAVBAR-------------------------------------------------------------------*/

.navMenu {
  grid-area: nav;
}
.navList {
  display: flex;
  justify-content: space-evenly;
}

.containerList{
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.navLink {
    width: 8em;
    text-align: center;
  display: inline-block;
  background-color: var(--cards-color);
  padding: var(--spacing-8);
  margin: 0.5em 2em;
  border-radius: 0.5em;
  font-size: var(--font-small);
  font-weight: 500;
  transition: background 0.3s ease-in-out;
  position: relative;
  text-transform: uppercase;
}

.navLink:hover {
  background-color: var(--hfbl-color);
  color: var(--letter-light-color);
}

.submenu {
  width: 300px;
  display: none;
  position: absolute;
  background-color: var(--cards-color);
  z-index: 2;
}
.with-submenu:hover .submenu {
  display: block;
}

.submenu-link {
  display: block;
  padding: var(--spacing-8);
  font-size: var(--font-xsmall);
}
.submenu-link:hover {
  background-color: var(--hfbl-color);
  transition: background 0.3s ease-in-out;
  color: var(--letter-light-color);
}

#navbar{
  grid-area: nav;
}
#btnNav{
    margin-left: 1em
}

#navList{
  justify-content: center;
}

/*-------------------------------------------------MAIN--------------------------------------------------------------*/

.content {
  background-color: var(--cards-color);
  grid-area: main;
  border-radius: 1em;
  margin-left: 0.5em;
  justify-content: center;
}

.titleWelcome {
  width: 40%;
  font-size: var(--font-large);
  font-family: var(--font-alternativa);
  text-align: center;
  margin: auto;
  margin-top: 1.5em;
}

/*------------------------------------------CAROUSEL------------------------------------------*/
.indexCarousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.carouselContainer {
  margin: 4em;
}

.icoCarousel {
  font-size: var(--font-large);
  color: var(--hfbl-color);
}

.ItemsCarousel {
  display: flex;
  gap: 0.5em;
  justify-content: center;
  padding: 0;
}

.img-slide {

  width: 20em;
  height: 23em;
  border: 0.2em solid var(--hfbl-color);
  border-radius: 0.8em;
}

.img-slide:hover {
  width: 250px;
  height: 300px;
}

/*-------------------------------------------ASIDE--------------------------------------------------------------------*/

.aside {
  background-color: var(--cards-color);
  border-radius: 1em;
  grid-area: aside;
  width: 20em;
  margin-right: 0.5em;
}

.video {
  margin: 1em 3em;
  height: 25em;
  border-radius: 50px;
  border: 3px solid var(--hfbl-color);
}

.reseñasContainer {
  text-align: center;
  padding: 1em;
}
.titleReseñas {
  font-size: var(--font-small);
}

.itemReseña {
  display: flex;
  gap: 0.2em;
  margin: 1em 0.3em;
  text-align: start;
}

.imgReseña {
  border-radius: 50%;
  width: 2em;
}
.subtitleReseña {
  font-size: var(--font-xxsmall);
  font-weight: bold;
}
.nombreReseña {
  font-size: var(--font-xxxsmall);
  font-weight: bold;
}
.linkReseñas {
  border-bottom: 1px solid black;
  font-size: var(--font-xxsmall);
}

/*------------------------------------------FOOTER--------------------------------------------------------------------*/

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.5em 1.5em 0 0;
  padding: 0 0.5em;
}
.follow {
  text-align: center;
}

.img-iconos {
  width: 2em;
}

.img-logo-footer {
  width: 5em;
}

.img-ubi {
  width: 2.9em;
}

.ico-rrss {
  padding-right: 3.5em;
}

/*//////////////////////////////////////PRODUCTOS/////////////////////////////////////////////////*/

.title {
  text-align: center;
  margin-top: 0.5em;
  text-transform: uppercase;
}

.containerProd {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1em 3em;
}

.itemsProductos {
  width: 350px;
  height: 350px;
  text-align: center;
  margin: 0 2em;
}

.itemProducto {
  margin-bottom: 0.5em;
  color: var(--hfbl-color);
  text-shadow: 3px 3px 3px var(--letter-transition);
}

.img-producto {
  width: 8.75em;
  height: 7.5em;
  border: 0.2em solid var(--hfbl-color);
  border-radius: 0.8em;
}

/*////////////////////////////////////////////CONTACTO////////////////////////////////////////////*/

.formContacto {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.formCont {
  width: 50%;
  display: grid;
  grid-template-columns: 20% 1fr;
  margin: auto;
  text-align: left;
  padding-top: 1.5em;
  background-color: var(--cards-color);
  border-radius: 5em;
  margin-bottom: 0.8em;
}

.formCont > div{
  text-align: center;
}

.labelItem{
  /* text-align: center; */
  width: 50%;
  text-align: left;
  margin:auto;
  margin-right: 0;
}

.formCont > * {
  padding: 1.35em 0;
}

.contact-btn {
  grid-column: 1/3;
  text-align: center;
}

.label-input{
  font-size: var(--font-small);
  font-weight: 600;
  text-align: left;
}
.inputItem {
  width: 30em;
  height: 3em;
  background-color: #d1cdcd;
  border: 0;
  border-bottom: 2px solid var(--hfbl-color);
  border-radius: 0.8em;
  padding: 0.5em;
  /* font-weight: bold; */
  font-size: var(--font-xxsmall);
}

.textarea-msg {
  width: 30em;
  background-color: #d1cdcd;
  border-radius: 0.8em;
  padding: 0.5em;
  font-size: var(--font-xxsmall);
  font-family: var(--font-base);
  /* font-weight: bold; */
  border: 0;
  border-bottom: 2px solid var(--hfbl-color);
}

.btn {
  width: 50%;
  padding: 0.7em;
  border: none;
  border-radius: 0.8em;
  background-color: var(--hfbl-color);
  color: var(--letter-light-color);
  transition: background 0.3s ease-in-out;
  font-size: var(--font-xsmall);
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.btn:hover {
  background-color: var(--cards-color);
  color: var(--letter-transition);
  border: 2px solid var(--hfbl-color);
}

#navCart-resp,
#log-responsive,
#reg-responsive{
  display: none;
}

/*/////////////////////////////////////////////////////////////////////////PRODUCTO TORTAS////////////////////////////////////////////////////////////////////////////*/

.productTortas {
  display: flex;
  margin: 2em;
}

h2.subtCaseras{
  margin-top: 0;
}


.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
}

div.gallery {
  margin: 5px;
  border: 3px solid var(--hfbl-color);
  width: 230px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

div.gallery:hover {
  border: 4px solid #a40909;
  box-shadow: 10px 10px 5px #d48bed;
}

div.gallery img {
  width: 100%;
  height: 280px;
  border-bottom: 3px solid var(--hfbl-color);
}
div.gallery img:hover {
  border-bottom: 4px solid #a40909;
}

.desc {
  text-align: center;
  margin: auto;
  font-weight: 600;
}
.desc > p{
  margin: 0;
  font-size: var(--font-xsmall);
  padding: 0 0.5em;

}
.article-Tortas {
    display: flex;
    flex-direction: column;
   justify-content: space-between;
    width: 100%;
  padding-bottom: 1em;
  flex-wrap: wrap;
}

.detailProd {
  background-color: var(--cards-color);
  width: 100%;
  text-align: center;
  padding: 0.5em;
  border-radius: 1em;
}

.subtitle {
  margin: 1.5em 0.5em;
  text-transform: uppercase;
  color: var(--hfbl-color);
}

.description {
  font-size: var(--font-small);
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.detailProd img {
  border: 2px solid var(--hfbl-color);
  border-radius: 1em;
  margin-top: 2em;
}
.details {
  font-size: var(--font-xxsmall);
  margin: 2em 0;
}
.price {
  font-size: var(--font-xlarge);
  font-weight: 700;
  margin: 2em;
}

/*////////////////////////////////////////////////////////////////////////PRODUCTO POSTRES//////////////////////////////////////////////////////////////////////////*/
.productPostres {
  display: flex;
  margin: 0 2em 2em;
  justify-content: space-between;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  margin: 2em 3em;
}



/*------------------------------------------------Ventana Modal-------------------------*/
.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000071;
  display: none;
  z-index: 100;
}

.container-modal,
.container-modal2,
.container-modal3,
.container-modal4,
.container-modal5,
.container-modal6,
.container-modal7,
.container-modal8,
.container-modal9,
.container-modal10,
.container-modal11,
.container-modal12,
.container-modal13,
.container-modal14,
.container-modal15,
.container-modal16,
.container-modal17,
.container-modal18,
.container-modal19,
.container-modal20 {
  display: none;
}

#btn-modal,
#btn-modal2,
#btn-modal3,
#btn-modal4,
#btn-modal5,
#btn-modal6,
#btn-modal7,
#btn-modal8,
#btn-modal9,
#btn-modal10,
#btn-modal11,
#btn-modal12,
#btn-modal13,
#btn-modal14,
#btn-modal15,
#btn-modal16,
#btn-modal17,
#btn-modal18,
#btn-modal19,
#btn-modal20 {
  display: none;
}
#btn-modal:checked ~ .container-modal,
#btn-modal2:checked ~ .container-modal2,
#btn-modal3:checked ~ .container-modal3,
#btn-modal4:checked ~ .container-modal4,
#btn-modal5:checked ~ .container-modal5,
#btn-modal6:checked ~ .container-modal6,
#btn-modal7:checked ~ .container-modal7,
#btn-modal8:checked ~ .container-modal8,
#btn-modal9:checked ~ .container-modal9,
#btn-modal10:checked ~ .container-modal10,
#btn-modal10:checked ~ .container-modal11,
#btn-modal10:checked ~ .container-modal12,
#btn-modal10:checked ~ .container-modal13,
#btn-modal10:checked ~ .container-modal14,
#btn-modal10:checked ~ .container-modal15,
#btn-modal10:checked ~ .container-modal16,
#btn-modal10:checked ~ .container-modal17,
#btn-modal10:checked ~ .container-modal18,
#btn-modal10:checked ~ .container-modal19,
#btn-modal10:checked ~ .container-modal20 {
  display: flex;
}

.content-modal > * {
  margin: 0;
  padding: 1em;
}

.content-modal {
  background-color: var(--cards-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40%;
  padding: 0 2em 1em;
  margin: auto;
  margin-top: 3em;
  border-radius: 30px;
}

.img-modal {
  width: 250px;
  height: 300px;
  border: 3px solid var(--hfbl-color);
  border-radius: 1em;
  padding: 0;
}
.boton-cerrar {
  background-color: black;
  color: white;
  font-size: var(--font-small);
  font-weight: 700;
  position: absolute;
  padding: 0.5em;
  top: 0;
  right: 0;
  margin-right: 0.8em;
}

.cerrar-modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/*////////////////////////////////////////////////CARRITO DE COMPRAS//////////////////////////////*/

.containerCar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  margin: var(--spacing-40) var(--spacing-16);
  height: 100vh;
}

.itemsCar {
  grid-column: 1/4;
  background-color: var(--cards-color);
  padding: 1em;
  border-radius: 20px;
  height: 100vh;
}

.containerPays {
  grid-column: 4/6;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40% 60%;
  height: 100%;
  font-size: var(--font-xmedium);
  font-weight: 600;
  /* background-color: var(--cards-color) */
}

.resumeCar {
  margin: 0 1em;
  background-color: var(--cards-color);
  border-radius: 20px;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
}

.subtitleCar {
  grid-column: 1/3;
  text-decoration: underline;
  text-align: center;
}
.subtitlesResume {
  font-size: var(--font-small);
  margin: 0 1em;
}

.resumeCar > * {
  padding: 0.5em;
}

.value {
  font-size: var(--font-medium);
  text-align: right;
  margin: 0 1em;
}

.payments img {
  width: 10em;
  margin: auto;
}

.payments {
  grid-column: 1/3;
  margin: 1em 1em 0;
  background-color: var(--cards-color);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 16% 28% 28% 28%;
  align-items: center;
}

.payments > * {
  padding: 0.5em;
  /* font-size: var(--font-medium);
    font-weight: 600; */
}

.containerItem {
  display: flex;

  align-items: center;
  padding: 0;
  margin: 1em 0;
}
.inputRadio {
  margin: 1em;
}
.labelItemCar {
  padding: 0;
}
.formCar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemCar {
  display: flex;
  align-items: center;
  border: 1px solid var(--hfbl-color);
  padding: 1em;
  border-radius: 20px;
}
.iconDel {
  padding: 0.5em;
}

.imgItemCar {
  width: 250px;
  height: 150px;
  border: 3px solid var(--hfbl-color);
  border-radius: 16px;
}

/* .imgItem{
    width: 100%;
    height: 150px;
} */
.itemDetails > * {
  padding: 0.3em 0.5em;
  text-align: left;
}
.itemTitle {
  font-size: var(--font-medium);
  font-weight: 600;
}
.itemDetail {
  font-size: var(--font-xxsmall);
  text-align: justify;
}
.priceCar {
  font-size: var(--font-medium);
  font-weight: 600;
}

.amount {
  text-align: center;
}
.inputAmount {
  text-align: center;
  width: 40%;
  padding: 0.2em;
  font-size: var(--font-small);
  border: solid 0.5px var(--letter-dark-color);
}
/*/////////////////////////////////////////////////RESEÑAS/////////////////////////////////////////////////////*/

.containerReviews {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: var(--cards-color);
  margin: 2em;
  /* border-radius: ; */
}

.imgReviews {
  width: 7em;
  border-radius: 50%;
  padding: 0.5em;
}
.review {
  display: flex;
  text-align: center;
  padding: 1em;
}

.detailReviews {
  padding: 1em;
  background-color: var(--body-color);
  border-radius: 20px;
  border: 2px solid var(--hfbl-color);
}

.icoStar {
  margin-top: 0.7em;
}

.botonReview {
  grid-column: 2/4;
  margin: 2em auto;
}

/* Modal */

#btnReview {
  display: none;
}

#btnReview:checked ~ .modalReview {
  display: flex;
}

.formReview {
  display: grid;
  grid-template-columns: 30% 1fr;
  width: 50vw;
  margin: auto;
  background-color: var(--cards-color);
  text-align: center;
  align-items: center;
  border-radius: 30px;
  gap: 1em;
  padding-top: 2em;
}

.modalRev {
  width: 100%;
  height: 100%;
  position: fixed;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: #00000071;
  display: none;

  z-index: 100;
}

.inputReview,
.selectReview{
    height: 3em;
    background-color: #d1cdcd;
  padding: 0 1em;
  margin-right: 3em;
  border-radius: 20px;
  border: 0;
  border-bottom: 2px solid var(--hfbl-color);
  color: #7e7c7c;
}

#msgReview{
    border-radius: 20px;
    padding: 1em 1em;
     margin-right: 3em;
     font-family: var(--font-base);
     border: 0;
    border-bottom: 2px solid var(--hfbl-color);
      background-color: #d1cdcd;
}


.labelReview{
    font-size: var(--font-small);
    font-weight: 600;
    padding: 0 1.2em;
    text-align: left;
}

/* .btnReviews{
 width: 200px;
} */
label.btn{
  width: 100%;
}

.btnRev{
    grid-column: 1/3;
    width: 30em;
    margin: 0; 
    margin: auto;
    text-align: center;
    padding-top: 0;
}

input:focus{
    outline: none;
}
select:focus{
    outline: none;
}
textarea:focus{
    outline: none;
}

.optionReview{
    font-size: var(--font-small);
    color: var(--letter-dark-color);
}

.optionReview:hover{
  background-color: var(--hfbl-color);
  transition: background 0.3s ease-in-out;
  color: var(--letter-light-color);
}

.starsReview{
    grid-column: 1/3;
    text-align: center;
    padding: 0 1em;
}

body{
  background-color: var(--body-color);
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*MEDIA QUERIES*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media only screen and (min-width: 300px) and (max-width: 768px)
{

  .headMenu{
    display: none;
  }
  .formCont{
    display: flex;
    flex-direction: column;
    width: 90%;
  }

.labelItem{
  text-align: center;
  width: 50%;
  margin:auto; 
  font-size: var(--font-xxsmall);
}

.formCont > * {
  padding: 1em 0 0;
}

.inputItem {
  width: 18em;
}

.textarea-msg {
  width: 18em;
}

.btn {
  width: 30%;
  padding: 0.3em;
}
#navCart-resp,
#log-responsive,
#reg-responsive{
  display: flex;
}

.navLink{
  font-size: var(--font-xxsmall)
}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {

  .formCont{
    display: flex; 
    flex-direction: column;
    width: 70%;
  }

.formCont > * {
  padding: 1em 0 0;
}

.labelItem{
  text-align: center;
  width: 50%;
  margin:auto; 
  font-size: var(--font-xsmall);
}
.inputItem {
  width: 30em;
}

.textarea-msg {
  width: 30em;

}

.btn {
  width:40%;
}

}

@media only screen and (min-width: 992px) and (max-width: 1280px){

  .formCont{
    width: 60%;
  }
.labelItem{
  text-align: center;
  width: 50%;
  margin:auto; 
  font-size: var(--font-xsmall);
}  
.inputItem {
  width: 25em;
}

.textarea-msg {
  width: 25em;

}
}
